body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  table {
    margin: auto;
  }
  
  img {
    display: inline-block;
    margin: 20px;
    position: relative;
    z-index: 1;
  }
  
  font[size="6"] {
    font-weight: bold;
  }
  
  hr {
    width: 50%;
    border-color: lightgray;
  }

  ur {
    list-style-type: square;
    margin-left: 40px;
  }

  a {
    text-decoration: none;
  }

  .devicon-facebook-plain {
    font-size: 48px;
  }

  .devicon-github-original {
    font-size: 48px;
  }

  .devicon-linkedin-plain {
    font-size: 48px;
  }

  .my-photo-class {
    border-radius: 100%;
    box-shadow: 2px 2px 8px rgb(117, 117, 117);
  }

  #my-photo-id {
    border-radius: 100%;
    box-shadow: 2px 2px 8px rgb(117, 117, 117);
  }

  .rectangle {
    position: absolute;
    z-index: -1;
    width: 1920px;
    height: 400px;
    background-color: #00ff00;
    left: 0px;
    top: 0px;
  }