body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  table {
    margin: auto;
  }

  /*index image*/
  img[src="./photo_index/TES_logo.png"] {
    width: 400px;
    height: auto;
  }

  img[src="./photo_index/household_management.png"] {
    width: 300px;
    height: auto;
  }

  img[src="./photo_index/buy_onestop.png"] {
    width: 500px;
    height: auto;
  }

  img[src="./photo_index/LINE_QR_image.png"] {
    width: 400px;
    height: auto;
  }


  /*portfolio image*/
  img[src="./photo_portfolio/profile_photo.jpg"] {
    width: 600px;
    height: auto;
  }
  
  font[size="6"] {
    font-weight: bold;
  }
  
  hr {
    width: 50%;
    border-color: lightgray;
  }

  ur {
    list-style-type: square;
    margin-left: 40px;
  }

  a {
    text-decoration: none;
  }

  .devicon-facebook-plain {
    font-size: 48px;
  }

  .devicon-github-original {
    font-size: 48px;
  }

  .devicon-linkedin-plain {
    font-size: 48px;
  }

  .my-photo-class {
    border-radius: 100%;
    box-shadow: 2px 2px 8px rgb(117, 117, 117);
  }

  #my-photo-id {
    margin-top: 30px;
    border-radius: 100%;
    box-shadow: 2px 2px 8px rgb(117, 117, 117);
  }

  table {
    border-collapse: collapse; /* 表の線を結合する */
    border: 1px solid lightgray; /* 線の色と太さ */
  }
    
  td, th {
    border: 1px solid lightgray; /* 線の色と太さ */
    padding: 8px; /* セル内のスペース */
  }

  .desc {
    color: gray;
  }

  ul {
    list-style-type: none;
    padding-left:0;
  }
  
  li{
    list-style:none;
  }

  /* （スマホ TES_logo） */
  @media (max-width:399px) {
    img[src="./photo_index/TES_logo.png"] {
      width: 100%;
      height: auto;
    }
  }

  /* （タブレット TES_logo） */
@media screen and (max-width: 1024px) {
    img[src="./photo_index/TES_logo.png"] {
      width: 100%;
      height: auto;
    }
  }

/* （スマホ household_management） */
@media (max-width:399px) {
  img[src="./photo_index/household_management.png"] {
    width: 100%;
    height: auto;
  }
}
  
/* （タブレット household_management） */
@media screen and (max-width: 1024px) {
    img[src="./photo_index/household_management.png"] {
      width: 100%;
      height: auto;
    }
  }

/* （スマホ buy_onestop） */
@media (max-width:399px) {
  img[src="./photo_index/buy_onestop.png"] {
    width: 100%;
    height: auto;
  }
}
  
/* （タブレット household_management） */
@media screen and (max-width: 1024px) {
    img[src="./photo_index/buy_onestop.png"] {
      width: 100%;
      height: auto;
    }
  }

/* （スマホ LINE_QR_image.png） */
@media (max-width:399px) {
  img[src="./photo_index/LINE_QR_image.png"] {
    width: 100%;
    height: auto;
  }
}
  
/* （タブレット LINE_QR_image.png） */
@media screen and (max-width: 1024px) {
    img[src="./photo_index/LINE_QR_image.png"] {
      width: 100%;
      height: auto;
    }
  }


/* （スマホ portfolio） */
@media (max-width:399px) {
  img[src="./photo_portfolio/profile_photo.jpg"] {
    width: 100%;
    height: auto;
  }
}

  /* （タブレット portfolio） */
@media screen and (max-width: 1024px) {
    img[src="./photo_portfolio/profile_photo.jpg"] {
      width: 100%;
      height: auto;
    }
  }
